@import url(../css/main.css);


.content-container {
    display: flex;
    flex-direction: column;
}

table {
    background-color: white;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    padding: 1.5rem 2rem;
    padding-bottom: 1.5rem;
    text-align: left;
}

th {
    font-weight: 700;
}

td {
    font-weight: 400;
    cursor: pointer;
}

tr:hover{
    background-color: rgba(246, 244, 245, 0.471);
}

.icon-container {
    display: flex;
    gap: 0.5rem;
}

.table-icon {
    background-color: var(--input-box);
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1rem;
    color: var(--light-coloring);
    cursor: pointer;
}

.table-icon:hover {
    background-color: var(--primary-color);
    color: var(--primary-color-text);
}

/*Button*/

.newpost-container {
    display: flex;
    justify-content: end;
}

.button-newpost {
    display: flex;
    justify-content: center;
    width: 6rem;
    align-self: end;
}

@media (max-width: 680px) {
    th {
        display: none;
    }
    td {
        display: block;
    }

    td[data-cell]::before {
        content: attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;
    }

    td:first-child {
        padding-top: 1rem;
    }

    td:last-child {
        padding-bottom: 1rem;
    }

    tr:nth-of-type(2n) {
        background-color: var(--m-background-table);
    }
}