@import url(/css/main.css);

.logo {
    height: 10%;
}

.info-block {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

.image-block {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

.content {
    display: flex;
}

img {
    height: 50vh;
    width: 100%;
    justify-content: center;
}