@import url(../css/main.css);

body {
    display: block;
}

main {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


.info-block {
    flex: 2;
    display: flex;
    flex-direction: column;
}

/*Form input*/

input {
    width: 25rem;
}

textarea {
    width: 25rem;
}

label {
    display: flex;
    width: 25rem;
}

select {
    width: 25rem;
}

.submit-button-container {
    display: block;
}

/*Image*/

.logo {
    height: 10%;
}

.image-block {
    flex: 1;
    overflow: hidden;
}

img {
    height: 50vh;
    max-width: 30rem;
    justify-content: center;
}

@media (max-width: 680px) {
    .content {
        flex-direction: column-reverse;
    }
}