@import url(../css/main.css);

main {
    padding: 0;
}

.button {
    display: flex;
    width: 5rem;
    justify-content: center;

}

/*Blog*/

.filter-and-search-block {
    display: flex;
    justify-content: space-between;
}

.blog-section {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}


.search-container {
    position: relative;
}


.search-icon {
    position: absolute;
    left: 1rem;
    top: 40%;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    color: var(--light-coloring)
}

.search-field {
    padding-left: 3rem;
}


@media (max-width: 680px) {
    .carousel-container {
        background-color: rgb(143, 143, 211);
        height: 100vh;
        position:static;
    }
    
    .carousel-slide {
        position: static;
        inset: 0;
        opacity: 0;
        transition: 200ms opacity ease-in-out;
        transition-delay: 200ms;
        display: flex;
        flex-direction: column-reverse;
    }
    .slider-text {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: rgba(240, 248, 255, 0.464);
        padding: 2rem;
        top: 35%;
        left: 5rem;
        right: 5rem;
    }

    .filter-and-search-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .blog-section {
        align-items: center;
    }
    
}

