@import url(../css/main.css);

main {
    padding: 0;
}

.button {
    display: flex;
    width: 5rem;
    justify-content: center;

}

/*Blog*/

.filter-and-search-block {
    display: flex;
    justify-content: space-between;
}

.blog-section {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}


.search-container {
    position: relative;
}


.search-icon {
    position: absolute;
    left: 1rem;
    top: 40%;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    color: var(--light-coloring)
}

.search-field {
    padding-left: 3rem;
}


@media (max-width: 680px) {
    .filter-and-search-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .blog-section {
        align-items: center;
    }
}

