@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap');
@import url(reset.css);

:root {
    --background-color: #FFFCF3;
    --primary-color: #F9C7F1;
    --primary-color-text: #963787;
    --text-color: #191919;
    --input-box: #F5F3EE;
    --light-coloring: #6C6962;
    --m-background-table: #f9f9f98f;
}

html {
    font-size: 1rem;
}

body {
    background-color: var(--background-color);
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 100%;
    justify-content: center;
    margin: 0;
}

main {
    padding: 3rem;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;


}

.logo {
    width: 50%;
}

/*Typography*/

h1,h2,h3,h4,h5,h6 {
    font-family: "Sansita Swashed", Verdana, Geneva, Tahoma, sans-serif;
    color: var(--main-blue);
    font-weight: 00;
}

h1 {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    padding-bottom: 1rem;
    
}

h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 8px;
    
}

h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
}

h4 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
}

h5 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
}

h6 {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
}

p {
    font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1 rem;
    letter-spacing: 0.5px;
    line-height: 1.5;
    padding-bottom: 1rem;
}

a {
    text-decoration: none;
    color: var(--primary-color-text);
}

label {
    font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    display: inline-block;
    width: 18rem;
    text-align: left;

}

input {
    font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    background-color: var(--input-box);
    height: 3rem;
    width: 18rem;
    margin-bottom: 1.3rem;
    box-sizing: border-box;
    padding: 1rem;
    
}

input[type="submit"] {
    background-color: var(--primary-color);
    padding: 0;
}

textarea {
    font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    background-color: var(--input-box);
    width: 18rem;
    margin-bottom: 1.3rem;
    box-sizing: border-box;
    padding: 1rem;
}

select {
    font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    background-color: var(--input-box);
    height: 3rem;
    width: 18rem;
    padding: 1rem;
    margin-bottom: 1.2rem;
}


img {
    width: 100%; 
    height: auto; 
    display: block; 
    object-fit: cover;
}


/* Buttons*/

.button {
    transition-property: background-color;
    transition-duration: 0.5s;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 1rem;
    border: none;
    border-radius: 2px;
    font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}




